*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 231, 255);
}

.Heading {
    position: relative;
    position: absolute;
    text-align: center;
    top: -3%;
    text-transform: uppercase;
    

}

h1 {
    font-size: 50px;
    letter-spacing: 0.7rem;
    background: linear-gradient(45deg, #002053 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.head {
    width: 200px;
    height: 350px;
    background: #9099a5;
    border-radius: 50% 50% 0 0 / 30% 30% 0 0;
    border: 3px solid #000;
    margin-top:50px;
    position: relative;
    box-shadow: inset 10px 0 3px #fff,
    inset -10px 0 3px #fff;
    left: 150px;
}

.mouth {
    border: 3px solid #000;
    width: 170px;
    height: 70px;
    position: absolute;
    top: 70%;
    left: calc(50% - 85px);
    border-radius: 30px 30px 60% 60% / 50% 50% 60% 60%;
    background: linear-gradient(#000, transparent 3px),
                linear-gradient(90deg,#000, transparent 3px), #fff;
    background-size: 22px 35px; // чуток изменил форму зубов
}

.eyes-block{
    width: 270px;
    height: 100px;
    background: #9099a5;
    border: 3px solid #000;
    position: absolute;
    top: 33%;
    left: calc(50% - 135px);
    border-radius:20% 20% 20% 20% / 50% 50% 50% 50%;
    box-shadow: inset 10px 0 3px #fff,
                inset -10px 0 3px #fff;
    overflow: hidden;            
    }

    .eyes {
    width: 250px;
    height: 80px;
    background: #000;
    border-radius:20% 20% 20% 20% / 50% 50% 50% 50%;
    position: absolute;
    top: 7px;
    left: 7px;
    overflow: hidden;
    border: 4px solid #000;
    }

    .eye {
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    }

    .left-eye {
        left: 20px;
    }

    .right-eye {
    right: 20px;
    }

    .eyes::before {
    content:"";
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid #000;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0;
    left: calc(50% - 40px);
    z-index: 2;
    }

    .eye::before {
    content:"";
    display: block;
    width: 20px;
    height: 20px; 
    background: #000; 
    position: absolute;
    top: 50%; 
    animation: eye 2s linear infinite;
    }

    @keyframes eye {
    0%,50%,100% {transform: translateX(0);}
    25% {transform: translateX(-10px);}
    75% {transform: translateX(10px);}
}

    .left-eye::before {
    left: 40px;
    }

    .right-eye::before {
    right: 40px;
    }

    .eyes::after {
    content: "" ;
    display: block;
    position: absolute;
    width: 260px;
    height: 100px;
    background: linear-gradient(-30deg, #9099a5 40%, #eff2f7 50%, #9099a5 60% );
    z-index: 3;
    top: -3px;
    left: -3px;
    transition: 1s;
    transform: translateY(-100px);
    }

    .head:hover .eyes::after {
    transform: translateY(0);   
    }

    .anten {
    width: 50px;
    height: 25px;
    background: #9099a5;
    border: 3px solid #000;
    border-radius:50% 50% 0 0 / 70% 70% 0 0;
    position: absolute;
    top: -20px;
    left: calc(50% - 25px);
    z-index:-1;
    box-shadow: inset 6px 0 3px #fff,
    inset -6px 0 3px #fff;
    }

    .anten::before {
    content: "" ;
    display: block;
    width: 20px;
    border-bottom: 100px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: -100px;
    left: calc(50% - 10px);
    }

    .anten::after {
    content: "" ;
    display: block;
    width: 12px;
    border-bottom: 90px solid #9099a5;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    top: -92px;
    left: calc(50% - 6px);
    }

    .dish {
    width: 26px;
    height: 26px;
    border-radius:50%;
    background:#9099a5;
    position: absolute;
    top: -100px;
    left: calc(50% - 13px);
    border: 2px solid #000;
    box-shadow:inset 2px 0 1px #fff,
                inset -2px 0 1px #fff;

}

    .audio {
    position: absolute;
    bottom:30px;
    }

    button{
    cursor: pointer;
    display: block;
    position: relative;
    left: 200px;
    bottom: 150px;
    width: 300px; 
    height: 80px;
    font-size: 20px;
    border-style: solid;
    text-shadow: 1px 1px 1px rgb(49, 47, 47);
    background: linear-gradient(45deg, #1c61ac 2%, #0D61BC 30%, #8AA9D6);
    color: #fff;
    border-radius:70px 70px 70px 1px;
    }
    
    button:hover{
    background: linear-gradient(45deg, #026e2b 10%, #1edd67 80%, #6aee9d);
    }
  

    

    
   